body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #042825;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.nav-bar {
  margin: 0 auto;
  margin-top: 10px;
  width: 98%;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px 0;
}

.nav-bar__list {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.nav-bar__list-el {
  background: #000;
  border-radius: 10px;
  padding: 5px 15px;
  color: #fff;
}

.about-heading {
  width: 900px;
  margin: 0 auto;
}

.footer {
  text-align: center;
  width: 200px;
  background: rgb(241, 241, 241);
  margin: 0 auto;
  border-radius: 10px;
}

.contact__button {
  background: #fff;
  border: 1px solid black;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.active {
  color: white;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

.non-active {
  color: #fff;
  text-decoration: none;
}

.home-heading {
  color: #fff;
}

.home-wrapper {
  width: 1403px;
  margin: 0 auto;
}
