.john-card {
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.john {
    width:300px;
    max-width: 100%;
    border: 3px solid #fff;
    border-radius: 10px;
    background: #fff
}